@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */



h1 {
  font-family: "SF Distant Galaxy";
}

.yoda1{flex-wrap: wrap;
}

/* computer */
@media screen and (min-width: 600px) {
  body {
    background-color: #f5e400;
  }
  h1{color: black;}
  
  
  img{
    display: flex;
  justify-content: center;}
  
  .links{}

    }
 



